@import "variable.styl"
html, body, #app
  height: 100%

body
  background-color: #fff
  overflow: hidden
body, html
  line-height: 1
  font-family: 'PingFang SC', 'STHeitiSC-Light', 'Helvetica-Light', arial, sans-serif, 'Droid Sans Fallback'
  user-select: none
  -webkit-tap-highlight-color: transparent
  background: $color-background
  color: $color-text
  .cube-picker-confirm
    color: #007aff!important
  .cube-select
    font-size: 17px
  .cube-select::after, .cube-select_active::after
    border: none!important
  .autocomplete-dropdown
    z-index: 9999!important
